body {
    background-color:darkgreen;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
}
.mark {
    color:aqua
}
